#!/bin/bash

#i2b2-variables.rc
source ./interpolate-i2b2.rc
#The version of I2B2 to install (format 1704, 1705, 1706)
export I2B2_VERSION=1706
export I2B2_DB=bmic-datamarts-dev.obis.musc.edu:1521:i2bstrk
export I2B2_URL=bmic-i2b2-test.obis.musc.edu:8080
export WEBCLIENT_DIR=/var/www/html
#I2B2_DATA_INSTALL variable needs to be "Y" or "N" choose "Y" if you need the i2b2 data tables built
#into the database and choose "N" if you do not. 
export I2B2_DATA_INSTALL="N"
#################################################
#################################################
#################################################
#################################################
# No need to configure anything below this line
export SKEL_DIR=${I2B2_SCRIPTS_DIR}/skel/${I2B2_VERSION}
export I2B2_HOME=/opt/i2b2
export JBOSS_HOME=${I2B2_HOME}/jboss
export ANT_HOME=${I2B2_HOME}/ant
export I2B2_SRC_DIR=${I2B2_HOME}/source
export I2B2_SCRIPTS_DIR=/opt/i2b2_scripts
export PATH=$ANT_HOME/bin:$JBOSS_HOME/bin:$PATH

#Utility functions follow
function require()
{
  if [ -z "$1" ] ; then
    echo "Requirement not met: $2"
    exit -1
  fi
}

function escape()
{
  ESCAPED=$(echo "$1" | sed "s| |\\\ |g" | sed "s|\:|\\\:|g" | sed "s|\.|\\\.|g" | sed "s|\/|\\\/|g")
}

function interpolate_file()
{
  file=$1
  pattern=$2

  escape $3

  replacement="$ESCAPED"

  sed s/$pattern/$replacement/g $file
}

function interpolate()
{
  pattern=$1

  escape $2

  replacement="$ESCAPED"

  sed s/$pattern/$replacement/g
}
require ${I2B2_VERSION} "I2B2_VERSION must be set, and not be a snapshot"
require ${JBOSS_HOME} "JBOSS_HOME must be set, and not be a snapshot"
require ${I2B2_DB_HOME} "I2B2_DB_HOME must be set"
require ${I2B2_HOME} "I2B2_HOME must be set"